<ion-header>
  <ion-toolbar>
    <ion-title>Elegir opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Menu de opciones</ion-card-subtitle>
      <ion-card-title>Menu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-button routerLink="/formulario">Crear Usuario</ion-button>
      </ion-item>

      <ion-item>
        <ion-button routerLink="/egresos-usuario">Listar Egresos</ion-button>
      </ion-item>

      
     
      
    </ion-card-content>
  </ion-card>
</ion-content>
