<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresar los datos del usuario</ion-card-subtitle>
      <ion-card-title>Crear Usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Id:</ion-label>
        <ion-input type= "text" name="id_usuario" [(ngModel)]="datos_formulario.id_usuario"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input type= "text" name="nombre_usuario" [(ngModel)]="datos_formulario.nombre_usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido:</ion-label>
        <ion-input type= "text" name="apellido_usuario" [(ngModel)]="datos_formulario.apellido_usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rut:</ion-label>
        <ion-input type= "text" name="rut_usuario" [(ngModel)]="datos_formulario.rut_usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo:</ion-label>
        <ion-input type= "text" name="correo_usuario" [(ngModel)]="datos_formulario.correo_usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input type= "text" name="password_usuario" [(ngModel)]="datos_formulario.password_usuario"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="enviarDatos()" expand="full" class="color" routerLink="/mostrar-usuario">Registrar</ion-button>
  </ion-card>

</ion-content>
